{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
{# {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %} #}

<div class="row">
    <div class="col-md-4 offset-4">
        
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    
            <h1 class="h3 mb-3 font-weight-normal">Forgotten Password</h1>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_help(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            
            <button class="btn btn-primary" type="submit">Reset Password</button>

        {{ form_end(form) }}

        <br>

        <a class="link" href="{{ path('security:app:login') }}">Login</a> |
        <a class="link" href="{{ path('security:app:register') }}">Register</a>

    </div>
</div>
{% endblock %}
