{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-4">

        <h1>Register</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="form-group">
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}
                {{ form_errors(form.firstname) }}
                {{ form_help(form.firstname) }}
            </div>

            <div class="form-group">
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname) }}
                {{ form_errors(form.lastname) }}
                {{ form_help(form.lastname) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_help(form.email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword) }}
                {{ form_errors(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
                {{ form_help(form.plainPassword) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.agreeTerms) }}
                {{ form_label(form.agreeTerms) }}
                {{ form_errors(form.agreeTerms) }}
                {{ form_help(form.agreeTerms) }}
            </div>

            <button class="btn btn-primary">Register</button>
        {{ form_end(form) }}

        <br>

        <a class="link" href="{{ path('security:app:login') }}">Login</a>

    </div>
</div>
{% endblock %}
