{% extends 'base.html.twig' %}

{% block title %}Boxes index{% endblock %}

{% block body %}
    <h1>Boxes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for box in boxes %}
            <tr>
                <td>{{ box.id }}</td>
                <td>{{ box.number }}</td>
                <td>{{ box.name }}</td>
                <td>{{ box.origin }}</td>
                <td>{{ box.destination }}</td>
                <td>{{ box.content }}</td>
                <td>
                    <a href="{{ path('boxes_show', {'id': box.id}) }}">show</a>
                    <a href="{{ path('boxes_edit', {'id': box.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('boxes_new') }}">Create new</a>
{% endblock %}
