<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">{{ appTitle }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movings</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                {% if app.user.movings | length %}
                                    {% for moving in app.user.movings %}
                                        <a class="dropdown-item" href="{{ path('movings:app:read', {id: moving.id}) }}">{{ moving.name }}</a>
                                    {% endfor %}
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                            {% endif %}

                            <a class="dropdown-item" href="{{ path('movings:app:create') }}">Create new moving</a>
                            </div>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    {% include 'security/partials/menu.html.twig' %}
                </div>
            </nav>
        </div>
    </header>

    {% include '_components/flashbag/basic.html.twig' %}

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer>
        <div class="footer-nav">
            <div class="container">

                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse">

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('legal') }}">Terms of use</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('contact') }}">Contact us</a>
                            </li>
                        </ul>

                        <div class="my-2 my-lg-0">
                            {{ copyright() }}
                        </div>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="localesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.request.locale }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="localesDropdown">
                                    {% for locale in locales() %}                                            
                                    <a class="dropdown-item" href="{{ path('homepage', {'_locale': locale.code}) }}">{{ locale.name }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>

                    </div>
                </nav>

            </div>
        </div>
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>